{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href = "{% static 'main/css/main.css' %}">
</head>
<body>
<aside>
    <img src="{% static 'main/img/logo.png' %}" alt="КибХак">
    <span class="logo">КибТаски</span>
    <h2>Навигация</h2>
    <ul>
        <a href = '/'><li>Новости</li></a>
        <a href = '/tasks'><li>Все задачи</li></a>
        <a href='/c_tasks'><li>C++ задачи</li></a>
        <a href='/java_tasks'><li>Java задачи</li></a>
        <a href = '/courses'><li>Курсы</li></a>
        <a href = '/ratings'><li>Рейтинг</li></a>
    </ul>
        {% if request.user.is_authenticated %}
        <span>Привет, {{request.user}}</span>
        <span><a href="/logout">Выйти</a></span>
        {% else %}
        <span><a href="/login">Войти</a> или <a href="/register">зарегистрироваться</a></span>
        {% endif %}
</aside>
{% block content %}
{% endblock %}
</body>
</html>