{% extends 'main/layout.html' %}
{% block title %}
Рейтинг
{% endblock %}
{% block content %}

<div class="container text-center" style="margin-top: 30px">
    <p style="margin-bottom: 50px; font-weight: bold; font-size: 70px; border-style: solid; border-color: black; font-family: Georgia"> ЛИЧНЫЙ КАБИНЕТ </p>
  <div class="row">
        <div class="col-12">
            {% for task in tasks %}
            <div class="card text-center" style="border-style: solid;border-color: black">
                <div class="card-header">
                    <h5 class="card-title" style="font-size: 26px; font-family: Open Sans; ">{{task.task_id}}<a href="/tasks/{{task.task_id.id}}" style="font-size: 20px;text-align: right"> (Перейти)</a></h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-left" style="font-size: 20px; font-family: Open Sans;">{{task.code}}</p>
                </div>
            <div class="card-footer text-muted" >
                {% if task.status %}
                            <p class="card-date text-right" style="text-align: center">Верно</p>
                            {% else %}
                            <p class="card-date text-right" style="text-align: center">Неверно</p>
                            {% endif %}
            </div>
            </div>
            <p></p>
            {% endfor %}
        </div>
  </div>
</div>
{% endblock %}