{% extends 'main/layout.html' %}
{% block title %}
Рейтинг
{% endblock %}

{% block content %}
<!--
<div>
    <div class="p-3 mb-2 text-dark text-right" style="background-color: #EF5E41; font-family: Comic Sans MS; font-weight: bold;">
        <h2>Личный кабинет {{user.username}}</h2>
    </div>
</div>-->
<div class="container text-left">
    Личный кабинет {{user.username}}
  <div class="row">
        <div class="col-12">
            {% for task in tasks %}
            <div class="card" style="width: 75rem; margin-left: 80px;">
                <div class="card-body text-bg-primary mb-3">
                    <h5 class="card-title" style="font-size: 26px; font-family: Open Sans; ">Решение задачи <a href="/tasks/{{task.task_id.id}}">{{task.task_id}}</a></h5>
                    <p class="card-text text-left" style="font-size: 20px; font-family: Open Sans;">{{task.code}}</p>
                    <div class="row">
                        <div class="col">
                            <a href="#" class="card-link"></a>
                        </div>
                        <div class="col">
                            {% if task.status %}
                            <p class="card-date text-right">Верное решение</p>
                            {% else %}
                            <p class="card-date text-right">Неверное решение</p>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                </div>
            <p></p>
            {% endfor %}
        </div>
  </div>
</div>
{% endblock %}